{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
        <li class="list-group-item">
            id: {{user.user_id}}
            <br>name: {{user.username}}
            <br>age: {{user.age}}</li>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <!-- Напишите свой код здесь (перебор пользователей) -->
                        {% for user in users %}
                        <li class="list-group-item"> <a href="/user/{{user.user_id}}"> {{user.user_id}} {{user.username}} {{user.age}} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
